$primary_cyan: hsl(171, 66%, 44%);
$primary_cyan_bold: hsl(171, 66%, 34%);
$secondary_blue: hsl(233, 100%, 69%);
$secondary_blue_bold: hsl(233, 100%, 59%);
$neutral_grey: hsl(210, 10%, 33%);
$neutral_blue: hsl(201, 11%, 66%);
$neutral_blue_ligth: hsl(201, 11%, 86%);
