.footer {
  background-color: $neutral_blue_ligth;

  a {
    color: $neutral_grey;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: $primary_cyan;
    }
  }

  .logo {
    width: 55px;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  padding: 2em;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    padding: 1em;
    width: 100%;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 4fr 1fr;

    & li {
      padding: 1em;
      margin-right: 3em;
      width: 150px;
    }

    & .order--2-md {
      order: -2;
    }
    & .order--1-md {
      order: -1;
    }
  }

  .footer-social {
    display: flex;
    align-content: center;
    justify-content: center;

    & > a {
      margin-right: 2em;
      display: inline-block;
      align-self: center;

      & i {
        font-size: 25px;
      }
    }

    & > a:last-child {
      margin-right: 0;
    }
  }
}
