@import "colors";
@import "header";
@import "buttons";
@import "cards";
@import "helpers";
@import "footer";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

h1,
h2,
h4 {
  color: $neutral_grey;
}

h4 {
  font-size: 20px;
}

p {
  color: $neutral_blue;
}

p,
a,
button {
  font-size: 16px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.subtitle {
  width: 90%;
  margin: 0 auto;
}

// keep section

.keep-grid,
.clipboard-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.clipboard-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
}

// brand section

.brand-flex {
  display: flex;
  flex-direction: column;
  align-content: center;

  & > div {
    padding: 2em 0;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    & > div {
      margin-right: 5em;
    }

    & div:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px;
  }

  p,
  a,
  button {
    font-size: 18px;
  }
  .container {
    width: 90%;
  }

  .no-container-md {
    width: 100%;
  }

  .keep-grid {
    grid-template-columns: 1fr 1fr;
  }

  .clipboard-grid {
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }
}
