@import "colors";
@import "header";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }

  .no-container-md {
    width: 100%;
  }

  .text-left-md {
    text-align: left;
  }
}
